{%extends "base.html" %}

{%block content %}
<div class="row">
    <canvas id="barChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        {% block chart_definition %}
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    data: {{ values | safe }},
                    backgroundColor: {{ colors | safe }},
                    borderColor: 'rgba(255, 99, 132, 1)',
                }
            ]
        },
        {% endblock %}
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            responsive: true,
            scales: {
                y: {
                    title: {
                        display: true,
                        text: {{ '\'' | safe + y_axis_title + '\'' | safe }},
                        font: {
                            size: 16
                        }
                    },
                    beginAtZero: false
                },
                x: {
                    title: {
                        display: true,
                        text: {{ '\'' | safe + x_axis_title + '\'' | safe }},
                        font: {
                            size: 16
                        }
                    }
                }
            }
        }
        });
    </script>      
</div>
{%endblock%}