{%extends "base.html" %}

{%block content %}
<div class="row">
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById('lineChart').getContext('2d');
        {% block chart_definition %}
        var lineChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                label:  {{ '\'' | safe + labels | safe + '\'' | safe }},
                datasets: [
                    {% with charts = charts %}
                    {% for chart in charts %}
                    {
                        data: {{ chart['values'] | safe }},
                        backgroundColor: {{ '\'' | safe + chart.colors | safe + '\'' | safe }},
                        borderColor: {{ '\'' | safe + chart.colors | safe + '\'' | safe }},
                        showLine: true
                    },
                    {% endfor %}
                    {% endwith %}
            ]
        },
        {% endblock %}
        options: {
            elements: {
                point: {
                    radius: 0
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            },
            responsive: true,
            scales: {
                y: {
                    title: {
                        display: true,
                        text: {{ '\'' | safe + y_axis_title + '\'' | safe }},
                        font: {
                            size: 16
                        }
                    },
                    beginAtZero: false
                },
                x: {
                    title: {
                        display: true,
                        text: {{ '\'' | safe + x_axis_title + '\'' | safe }},
                        font: {
                            size: 16
                        }
                    }
                }
            }
        }
        });
    </script>      
</div>
{%endblock%}
{% block target %}
<input type="hidden" name="target" value="{{ '/load_session_telemetry' }}" />
{% endblock %}